@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


$heading-font: Alata, open-sans;
$para-font: Josefin sans, open-sans;



$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark: hsl(0, 0%, 55%);
$VeryDark: hsl(0, 0%, 41%);


